body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row {
  margin-top: 60px;
}

h1 {
  text-align: center;
}
#well {
  background-color: #f4d06f;
  padding: 50px;
  overflow: auto;
}
.container {
  margin-top: 50px;
}

#text {
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}

#author {
  margin-left: 100px;
  font-style: italic;
  font-size: 18px;
  text-align: end;
}
